Bootstrap Cadastro Fundos - n8n V4 (Híbrido Smart Host).json
{
  "name": "Bootstrap Cadastro Fundos - n8n V6 (Produção - Cron + Alertas)",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-manual-1",
      "name": "Início Manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        112,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    output_path: 'resultado_cvm.json',\n    sql_output_path: 'update_fundos.sql',\n    anbima_client_id: '',\n    anbima_client_secret: '',\n    python_concurrency: 100\n    // Procedures e geração SQL agora são 100% controlados pelo Python Worker.\n    // Travas de produção ativas: filtro cancelados, bloqueio nat. jurídica, guarda múltiplos gestores.\n  }\n}];"
      },
      "id": "config-node-1",
      "name": "Configurações Globais",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const cfg = $input.first().json;\n\nasync function tryPing(url) {\n  try {\n    await this.helpers.httpRequest({\n      method: 'GET',\n      url: `${url}/status`,\n      timeout: 2000\n    });\n    return true;\n  } catch (e) {\n    return false;\n  }\n}\n\n// 1. Tenta acessar via localhost (Funciona no Windows Local/Nativo)\nlet worker_url = 'http://127.0.0.1:8000';\nlet isAlive = await tryPing(worker_url);\n\n// 2. Se falhar, tenta host.docker.internal (Funciona quando n8n está no Docker)\nif (!isAlive) {\n  worker_url = 'http://host.docker.internal:8000';\n  isAlive = await tryPing(worker_url);\n}\n\n// 3. Se falhar, tenta o IP da rede local como último recurso\nif (!isAlive) {\n  worker_url = 'http://192.168.15.35:8000';\n  isAlive = await tryPing(worker_url);\n}\n\nif (!isAlive) {\n  worker_url = 'http://10.233.10.229:8000';\n  isAlive = await tryPing(worker_url);\n}\n\nif (!isAlive) {\n  throw new Error(`\n    O SERVIDOR PYTHON NÃO ESTÁ RODANDO! \n    Por favor, abra um terminal na pasta do projeto e digite: python main.py --server\n  `);\n}\n\nreturn [{\n  json: {\n    ...cfg,\n    python_worker_url: worker_url,\n    host_detectado: worker_url\n  }\n}];"
      },
      "id": "smart-host-1",
      "name": "Detectar Ambiente Automático",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.python_worker_url}}/start",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"output_path\": \"{{$json.output_path}}\",\n  \"anbima_client_id\": \"{{$json.anbima_client_id}}\",\n  \"anbima_client_secret\": \"{{$json.anbima_client_secret}}\",\n  \"concurrency\": {{$json.python_concurrency}}\n}",
        "options": {}
      },
      "id": "start-python-1",
      "name": "Iniciar Python",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        784,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const cfg = $items('Detectar Ambiente Automático')[0].json;\nconst baseUrl = cfg.python_worker_url;\nconst maxAttempts = 720; // 720 * 10s = 2 horas máximo\nconst delayMs = 10000; // 10 segundos entre checagens\n\nfunction delay(ms) { return new Promise(resolve => setTimeout(resolve, ms)); }\n\nasync function getStatus() {\n  return await this.helpers.httpRequest({\n    method: 'GET',\n    url: `${baseUrl}/status`,\n    json: true\n  });\n}\n\nlet finalStatus = null;\n\nfor (let i = 0; i < maxAttempts; i++) {\n  try {\n    const res = await getStatus.call(this);\n    if (res.status === 'done' || res.status === 'error') {\n      finalStatus = res;\n      break;\n    }\n  } catch (err) {\n    // ignora erro de rede temporário\n  }\n  await delay(delayMs);\n}\n\nif (!finalStatus) throw new Error('Timeout esperando o Python Worker');\nif (finalStatus.status === 'error') throw new Error(`Erro no Python Worker: ${finalStatus.message}`);\n\nreturn [{ json: { status: 'SUCESSO', worker_response: finalStatus } }];"
      },
      "id": "poll-python-1",
      "name": "Aguardar Python (Polling)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        304
      ]
    },
    {
      "parameters": {
        "url": "={{$items('Detectar Ambiente Automático')[0].json.python_worker_url}}/download-sql",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "download-sql-1",
      "name": "Baixar SQL do Python",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1232,
        304
      ]
    },
    {
      "parameters": {
        "fileName": "={{$items('Detectar Ambiente Automático')[0].json.sql_output_path}}",
        "options": {}
      },
      "id": "write-sql-1",
      "name": "Salvar Arquivo SQL",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        1456,
        304
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "id": "cron-trigger-1",
      "name": "Cron 6h (Seg-Sex)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        112,
        512
      ]
    },
    {
      "parameters": {},
      "id": "error-trigger-1",
      "name": "Erro no Pipeline",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        560,
        640
      ]
    },
    {
      "parameters": {
        "subject": "=🚨 FALHA Pipeline B3 — {{ $now.format('dd/MM/yyyy HH:mm') }}",
        "options": {}
      },
      "id": "email-alert-1",
      "name": "Alerta por Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        784,
        640
      ],
      "webhookId": "a60a033b-11b9-4b89-8dd4-3a3977a7152c"
    }
  ],
  "pinData": {},
  "connections": {
    "Início Manual": {
      "main": [
        [
          {
            "node": "Configurações Globais",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron 6h (Seg-Sex)": {
      "main": [
        [
          {
            "node": "Configurações Globais",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Erro no Pipeline": {
      "main": [
        [
          {
            "node": "Alerta por Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configurações Globais": {
      "main": [
        [
          {
            "node": "Detectar Ambiente Automático",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detectar Ambiente Automático": {
      "main": [
        [
          {
            "node": "Iniciar Python",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Iniciar Python": {
      "main": [
        [
          {
            "node": "Aguardar Python (Polling)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguardar Python (Polling)": {
      "main": [
        [
          {
            "node": "Baixar SQL do Python",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar SQL do Python": {
      "main": [
        [
          {
            "node": "Salvar Arquivo SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0faf0338-3af6-431c-86dd-d0d45a4d6372",
  "meta": {
    "instanceId": "f09484b65aaddca6a11030b07fd13d81ab7e111f7b2b4395c59211c11ad2e2e8"
  },
  "id": "jawIhnJoxJvwZLQD",
  "tags": []
}
